// ZenCSS Variables - Any updates here may be overwritten with future updates.


//------------------------------------------ 
// Brand Color Palette 
//------------------------------------------ 

$primary-color : #034d81; 
//$secondary-color: #bc2624;
$secondary-color:#426b2f;
$accent-color: #ffb12b;
$cta-color: #1b64b2;


//------------------------------------------ 
// Generic Color Palette 
//------------------------------------------ 

$red: #c22a27;
$orange: #ef7b02;
$yellow: #ecc500;
$green: #599d03;
$blue: #1252a9;
$purple: #6d45dc;


//------------------------------------------ 
// Background and Text Color Maps for zenCSS color system
//individually labeled - override as needed for WCAG compliance
//------------------------------------------ 

//brand palette dark
$primary-color-dark: darken($primary-color, 10%); 
$secondary-color-dark: darken($secondary-color, 10%); 
$accent-color-dark: darken($accent-color,7%); 
$cta-color-dark: darken($cta-color, 10%); 

//brand palette light
$primary-color-light: lighten($primary-color, 10%); 
$secondary-color-light: lighten($secondary-color, 4%); 
$accent-color-light: lighten($accent-color, 10%); 
$cta-color-light: lighten($cta-color, 4%); 

// Generic palette dark
$red-dark: darken($red, 10%); 
$orange-dark: darken($orange, 6%); 
$yellow-dark: darken($yellow, 4%); 
$green-dark: darken($green, 5%); 
$blue-dark: darken($blue, 10%); 
$purple-dark: darken($purple, 10%); 

// Generic palette light
$red-light: lighten($red, 5%); 
$orange-light: lighten($orange, 10%); 
$yellow-light: lighten($yellow, 5%); 
$green-light: lighten($green, 6%); 
$blue-light: lighten($blue, 10%); 
$purple-light: lighten($purple, 5%); 

//text
$var-white-text:white;
$var-black-text: black;

// Default Text Colors
$text-default-colors: (
  "primary": $var-white-text,
  "secondary": $var-white-text,
  "accent": $var-black-text,
  "cta": $var-white-text,
  "red": $var-white-text,
  "orange": $var-black-text,
  "yellow": $var-black-text,
  "green": $var-black-text,
  "blue": $var-white-text,
  "purple": $var-white-text,
  "grey-1": $var-black-text,
  "grey-2": $var-black-text,
  "grey-3": $var-black-text,
  "grey-4": $var-white-text,
  "grey-5": $var-white-text,
  "grey-6": $var-white-text,
);

// Dark Text Colors
$text-dark-colors: (
  "primary-dark": $var-white-text,
  "secondary-dark": $var-white-text,
  "accent-dark": $var-black-text,
  "cta-dark": $var-white-text,
  "red-dark": $var-white-text,
  "orange-dark": $var-black-text,
  "yellow-dark": $var-black-text,
  "green-dark": $var-black-text,
  "blue-dark": $var-white-text,
  "purple-dark": $var-white-text,
  "grey-1-dark": $var-black-text,
  "grey-2-dark": $var-black-text,
  "grey-3-dark": $var-black-text,
  "grey-4-dark": $var-white-text,
  "grey-5-dark": $var-white-text,
  "grey-6-dark": $var-white-text,
);

// Light Text Colors
$text-light-colors: (
  "primary-light": $var-white-text,
  "secondary-light": $var-white-text,
  "accent-light": $var-black-text,
  "cta-light": $var-white-text,
  "red-light": $var-white-text,
  "orange-light": $var-black-text,
  "yellow-light": $var-black-text,
  "green-light": $var-black-text,
  "blue-light": $var-white-text,
  "purple-light": $var-white-text,
  "grey-1-light": $var-black-text,
  "grey-2-light": $var-black-text,
  "grey-3-light": $var-black-text,
  "grey-4-light": $var-white-text,
  "grey-5-light": $var-white-text,
  "grey-6-light": $var-white-text,
);


//------------------------------------------ 
// Misc Dark and Light 
//------------------------------------------ 

$text-white: #eee;
$text-black: #4a4a4a;
$light-color: #f4f4f4;
$dark-color: #424242;
$grey: #eee;
$dark-grey: #666;
$light-grey: #ccc;
$bg-default: $dark-color;
$text-default: $light-color;

.light-color{
  color:$light-color;
}

//------------------------------------------ 
// Rounded corners
//------------------------------------------ 

//$border-radius: 4px; //on
$border-radius: 4px; //off


//------------------------------------------ 
// Site Images 
//------------------------------------------ 

$hero-image: url("../website/images/hero.jpg");



//------------------------------------------ 
// Below is experimental
//------------------------------------------ 

$light-ui-hover-color:#eee;
$border-color:rgba(111, 111, 111, 0.35);
$dual-mode-bg-color:rgba(79, 78, 78, 0.01);
//$bg-header-footer: #2e2e2e;
$bg-header-footer: #303030;
//------------------------------------------ 
// Default Spacing
//------------------------------------------ 
//maybe its site, 50 0, then content 0, 50. then you do site-section for the container and content-section for the rows. done. 
//maybe that is baked into the content and rows in scaffold.

$site-section-padding-top: 50px;
$site-section-padding-bottom: 50px;

//$conent-section-padding-top: 50px;
//$conent-section-padding-bottom: 0;

$container-margin: 2em;


//set master paddingand margin for all columns

$col-padding: 1em; 
$col-margin: 1em;

//------------------------------------
// Interactive cards
// set images for your interactive cards. 
// todo: make images updatable from component html
//------------------------------------
$interactive-card-image-1: "../img/interactive-cards/1.jpg";
$interactive-card-image-2: "../img/interactive-cards/2.jpg";
$interactive-card-image-3: "../img/interactive-cards/3.jpg";
$interactive-card-image-4: "../img/interactive-cards/4.jpg";