// ZenCSS Variables - Any updates here may be overwritten with future updates.

//------------------------------------------ 
// Init
//------------------------------------------ 

// Icon Use: true for on, false for off */
$site-icons: true;

//------------------------------------------ 
// Brand Color Palette 
//------------------------------------------ 

$primary-color : #004e88; 
$secondary-color: #bc2624;
$accent-color: hsl(43, 86%, 53%);
$cta-color: #1f77d5;


//------------------------------------------ 
// Generic Color Palette 
//------------------------------------------ 

$red: #c22a27;
$orange: #ef7b02;
$yellow: #ecc500;
$green: #599d03;
$blue: #1252a9;
$purple: #6d45dc;



//------------------------------------------ 
// Dark and Light 
//------------------------------------------ 

$text-white: #eee;
$text-black: #111;
$light-color: #f4f4f4;
$dark-color: #424242;
$grey: #eee;
$dark-grey: #666;
$light-grey: #ccc;
$bg-default: $dark-color;
$text-default: $light-color;


//------------------------------------------ 
// Rounded corners
//------------------------------------------ 

//$border-radius: 4px; //on
$border-radius: 4px; //off


//------------------------------------------ 
// Site Images 
//------------------------------------------ 

$hero-image: url("../website/images/hero.jpg");



//------------------------------------------ 
// Below is experimental
//------------------------------------------ 

$light-ui-hover-color:#eee;
$border-color:rgba(79, 78, 78, 0.25);
$dual-mode-bg-color:rgba(79, 78, 78, 0.125);

//------------------------------------------ 
// Default Spacing
//------------------------------------------ 
//maybe its site, 50 0, then content 0, 50. then you do site-section for the container and content-section for the rows. done. 
//maybe that is baked into the content and rows in scaffold.

$site-section-padding-top: 50px;
$site-section-padding-bottom: 50px;

//$conent-section-padding-top: 50px;
//$conent-section-padding-bottom: 0;

$container-margin: 2em;


//set master paddingand margin for all columns

$col-padding: 1em; 
$col-margin: 1em;

//------------------------------------
// Interactive cards
// set images for your interactive cards. 
// todo: make images updatable from component html
//------------------------------------
$interactive-card-image-1: "../img/interactive-cards/1.jpg";
$interactive-card-image-2: "../img/interactive-cards/2.jpg";
$interactive-card-image-3: "../img/interactive-cards/3.jpg";
$interactive-card-image-4: "../img/interactive-cards/4.jpg";