@use "sass:math";

$pie-size: 200px;

.zen-pie-chart {
    width: $pie-size;
    height: $pie-size;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transform: rotate(-90deg);

    .zen-slice {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        clip: rect(0, $pie-size, $pie-size, $pie-size / 2);

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            clip: rect(0, $pie-size / 2, $pie-size, 0);
            background-color: inherit;
        }
    }
}
.zen-slice-before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    clip: rect(0, math.div($pie-size, 2), $pie-size, 0);
    transition: transform 0.5s ease;
}
