// Based on :
// pico.css | MIT License | github.com/picocss/pico

[data-tooltip] {
  position: relative;
}

[data-tooltip]:not(a, button, input) {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

[data-tooltip]::after,
[data-tooltip]::before,
[data-tooltip][data-placement="top"]::after,
[data-tooltip][data-placement="top"]::before {
  display: block;
  z-index: 99;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  transform: translate(-50%, -0.25rem);
  border-radius: $border-radius;
  background: $dark-color;
  content: attr(data-tooltip);
  color: $light-color;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  font-size: 0.8em;
}

[data-tooltip]::after,
[data-tooltip][data-placement="top"]::after {
  padding: 0;
  transform: translate(-50%, 0);
  border-top: 0.3rem solid;
  border-right: 0.3rem solid transparent;
  border-left: 0.3rem solid transparent;
  border-radius: 0;
  background-color: transparent;
  content: "";
  color: $dark-color;
}

[data-tooltip][data-placement="bottom"]::after,
[data-tooltip][data-placement="bottom"]::before {
  top: 110%;
  bottom: auto;
  transform: translate(-50%, 0.25rem);
}

[data-tooltip][data-placement="bottom"]:after {
  transform: translate(-50%, -0.25rem);
  border: 0.3rem solid transparent;
  border-bottom: 0.3rem solid;
}

[data-tooltip][data-placement="left"]::after,
[data-tooltip][data-placement="left"]::before {
  top: 50%;
  right: 110%;
  bottom: auto;
  left: auto;
  transform: translate(-0.25rem, -50%);
}

[data-tooltip][data-placement="left"]:after {
  transform: translate(0.3rem, -50%);
  border: 0.3rem solid transparent;
  border-left: 0.3rem solid;
}

[data-tooltip][data-placement="right"]::after,
[data-tooltip][data-placement="right"]::before {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 110%;
  transform: translate(0.2rem, -50%);
}

[data-tooltip][data-placement="right"]:after {
  transform: translate(-0.3rem, -50%);
  border: 0.3rem solid transparent;
  border-right: 0.3rem solid;
}

[data-tooltip]:focus::after,
[data-tooltip]:focus::before,
[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  [data-tooltip]:hover::after,
  [data-tooltip]:hover::before,
  [data-tooltip][data-placement="bottom"]:focus::after,
  [data-tooltip][data-placement="bottom"]:focus::before,
  [data-tooltip][data-placement="bottom"]:hover [data-tooltip]:focus::after,
  [data-tooltip][data-placement="bottom"]:hover [data-tooltip]:focus::before {
    animation-duration: 0.2s;
    animation-name: tooltip-slide-top;
  }

  [data-tooltip]:hover::after,
  [data-tooltip][data-placement="bottom"]:focus::after,
  [data-tooltip][data-placement="bottom"]:hover [data-tooltip]:focus::after {
    animation-name: tooltip-caret-slide-top;
  }

  [data-tooltip][data-placement="bottom"]:focus::after,
  [data-tooltip][data-placement="bottom"]:focus::before,
  [data-tooltip][data-placement="bottom"]:hover::after,
  [data-tooltip][data-placement="bottom"]:hover::before {
    animation-duration: 0.2s;
    animation-name: tooltip-slide-bottom;
  }

  [data-tooltip][data-placement="bottom"]:focus::after,
  [data-tooltip][data-placement="bottom"]:hover::after {
    animation-name: tooltip-caret-slide-bottom;
  }

  [data-tooltip][data-placement="left"]:focus::after,
  [data-tooltip][data-placement="left"]:focus::before,
  [data-tooltip][data-placement="left"]:hover::after,
  [data-tooltip][data-placement="left"]:hover::before {
    animation-duration: 0.2s;
    animation-name: tooltip-slide-left;
  }

  [data-tooltip][data-placement="left"]:focus::after,
  [data-tooltip][data-placement="left"]:hover::after {
    animation-name: tooltip-caret-slide-left;
  }

  [data-tooltip][data-placement="right"]:focus::after,
  [data-tooltip][data-placement="right"]:focus::before,
  [data-tooltip][data-placement="right"]:hover::after,
  [data-tooltip][data-placement="right"]:hover::before {
    animation-duration: 0.2s;
    animation-name: tooltip-slide-right;
  }

  [data-tooltip][data-placement="right"]:focus::after,
  [data-tooltip][data-placement="right"]:hover::after {
    animation-name: tooltip-caret-slide-right;
  }
}

@keyframes tooltip-slide-top {
  from {
    transform: translate(-50%, 0.75rem);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -0.25rem);
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide-top {
  from {
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -0.25rem);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes tooltip-slide-bottom {
  from {
    transform: translate(-50%, -0.75rem);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0.25rem);
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide-bottom {
  from {
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -0.5rem);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -0.3rem);
    opacity: 1;
  }
}

@keyframes tooltip-slide-left {
  from {
    transform: translate(0.75rem, -50%);
    opacity: 0;
  }

  to {
    transform: translate(-0.25rem, -50%);
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide-left {
  from {
    opacity: 0;
  }

  50% {
    transform: translate(0.05rem, -50%);
    opacity: 0;
  }

  to {
    transform: translate(0.3rem, -50%);
    opacity: 1;
  }
}

@keyframes tooltip-slide-right {
  from {
    transform: translate(-0.75rem, -50%);
    opacity: 0;
  }

  to {
    transform: translate(0.25rem, -50%);
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide-right {
  from {
    opacity: 0;
  }

  50% {
    transform: translate(-0.05rem, -50%);
    opacity: 0;
  }

  to {
    transform: translate(-0.3rem, -50%);
    opacity: 1;
  }
}
