
@mixin alert($background-color, $icon-url) {
  background: $background-color;
  padding: 2em 2em 2em 50px;  
  filter: grayscale(10%);
  color: $light-color;
  width: 100%;
  box-sizing: border-box;
  border-radius: $border-radius;
  margin: 1rem 0;  
  position: relative; 

  &::before {
    background: url($icon-url) no-repeat center center;
    background-size: contain;
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;  
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(25deg) brightness(101%) contrast(104%);
  }

  // Override color for light alert
  &.alert-light {
    color: $dark-color;

    &::before {
      filter: invert(20%) sepia(8%) saturate(9%) hue-rotate(314deg) brightness(92%) contrast(77%);
    }
  }
}

// Apply the alert mixin to each alert class, passing the background color and icon url
.alert-primary { @include alert($blue, '../img/general-icons/thumbs-up-solid.png'); }
.alert-danger { @include alert($red, '../img/general-icons/triangle-exclamation-solid.png'); }
.alert-success { @include alert($green, '../img/general-icons/circle-check-solid.png'); }
.alert-warning { @include alert($orange, '../img/general-icons/circle-exclamation-solid.png'); }
.alert-dark { @include alert($dark-color, '../img/general-icons/bell-solid.png'); }
.alert-light { @include alert($light-color, '../img/general-icons/star-solid.png'); }
