$responsive-breakpoint: 600px;
$border-color: $border-color;
//$desktop-header-color: rgb(179, 179, 179);
//$hover-color: rgb(203, 203, 203);

.responsive-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        border: 1px solid $border-color;
        padding: 8px;
        text-align: left;
       // color:  $responsive-text-color;
    }

    thead {
        th {
            background-color:  darken($dual-mode-bg-color, 40%);
            @include hover-state;
        }

        @media (max-width: $responsive-breakpoint) {
            display: none; 
            th {
                background-color: inherit; 
            }
        }
    }

    tbody {
        tr {
            @include default-state;
            @include hover-state;

            @media (max-width: $responsive-breakpoint) {
                @include default-state;
                @include hover-state;
            }
        }

        td {
            @media (max-width: $responsive-breakpoint) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.5rem; 

                &:before {
                    content: attr(data-label);
                    font-weight: bold;
                }
            }
        }
    }
}
