{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "auto"
}
