{
    "printWidth": 80,           
    "tabWidth": 4,              
    "useTabs": true,           
    "semi": true,               
    "singleQuote": false,          
    "quoteProps": "as-needed",    
    "proseWrap": "preserve",  
    "htmlWhitespaceSensitivity": "css", 
    "endOfLine": "auto"      
  }