.d-flex {
display:flex;
}

.feature {
    flex-grow: 2 !important;
  }

  .feature-sm {
    flex-grow: 3;
  }

  .feature-lg {
    flex-grow: 4;
  }
  .feature-md {
    flex-grow: 5;
  }

  .feature-lg {
    flex-grow: 6;
  }

  .reverse > :nth-z-col(1) {
    order: 2;
}

.reverse > :nth-z-col(2) {
    order: 1;
}

.expand{
  flex:1;
}

.center-me{
  align-self:center;
}

.center-flex{
  justify-content: center;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

//write more of these, scss em.

.flex-grow-1{
  flex-grow: 1;
}

.flex-grow-2{
  flex-grow: 2;
}

.flex-grow-8{
  flex-grow: 8;
}

.align-self-start{
  align-self: start;
}

.flex-align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}
.flex-align-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
}

.justify-content-center {
  justify-content: center; 
}

.align-items-center {
  align-items: center; 
}