footer {
    background-color: $dark-color; 
    padding: 20px;
    text-align: center;
}

.social-icons {
    margin-top: 1em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1em;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 5px; 
    background-color: #fff; 
    border-radius: $border-radius; 
    transition: background-color 0.3s ease;
    overflow: hidden; 
}

.social-icons a:hover {
    background-color: $cta-color; 

  //  filter: invert(1); /* Invert the color of the icons */
}

.social-icons a img {
    width: 24px; 
    height: 24px;
    object-fit: contain; 
}


///////////////// header file to come. for now...
/// 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }

  #logo img {
    max-height: 50px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin-left: 20px;
  }

  nav a {
    color: white;
    text-decoration: none;
  }