footer {
    background-color: $dark-color; 
    padding: 20px;
    text-align: center;
}

.social-icons {
    margin-top: 1em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1em;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 5px; 
    background-color: #fff; 
    border-radius: $border-radius; 
    transition: background-color 0.3s ease;
    overflow: hidden; 
}

.social-icons a:hover {
    background-color: $cta-color; 
}

.social-icons a img {
    width: 24px; 
    height: 24px;
    object-fit: contain; 
}

//-----------------------------------------
// Header - Move to own scss or better yet, rename this header/footer
//-----------------------------------------
header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: $dark-color;
padding: 10px 20px;
}

#header-logo, #header-logo img {
max-height: 43px;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
height: 100%;  /* Ensure the ul has a defined height */

}

nav li {
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

nav a {
color: $light-color;
text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  }
