//-----------------------------------------
// Header - Moved from footer (ie the new header)
//-----------------------------------------
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-header-footer;
    padding: 10px 20px;
    width: 100%;
    }
    
    #header-logo, #header-logo img {
    max-height: 43px;
    }
    
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%; 
    }
    
    nav li {
      margin-left: 20px;
      height: 4%;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
    
    nav a {
    //color: $light-color;
    text-decoration: none;
    }
    
    nav a:hover {
      text-decoration: underline;
      }
      
//-----------------------------------------
// Mobile
//-----------------------------------------

    header {
    padding: 10px;
    z-index: 1001;
}

.nav .li{
    max-height: 52px;
}

#header-logo img {
    height: 40px;
}

#hamburger-button, #close-button {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: #808080;
    display: none;
}

nav {
    display: flex;
    background-color: #c2c2c2;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    //color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: color 0.3s; 
}

nav a:hover {
    color: grey; 
}

/* Mobile & Tablet Styles */
@media (max-width: 768px) {
    #hamburger-button {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        left: -250px;  
        width: 250px;
        height: 100%;
       // background-color: #333;
        transition: left 0.3s;  
        display: block; 
    }

    nav ul {
        flex-direction: column;        
        padding-top: 20px;  
    }

    nav li {
        margin: 0; 
        height: 40px;  
        display: block;
        width: 100%;
        margin-left: 1.5em;
    }


    #close-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}