

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    z-index: 1001;
}

.nav .li{
    max-height: 52px;
}

#header-logo img {
    height: 40px;
}

#hamburger-button, #close-button {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: #808080;
    display: none; /* Hide by default */
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: color 0.3s;  /* Smooth color transition */
}

nav a:hover {
    color: grey;  /* Change color on hover */
}

/* Mobile & Tablet Styles */
@media (max-width: 768px) {
    #hamburger-button {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        left: -250px;  /* Start off the screen */
        width: 250px;
        height: 100%;
        background-color: #333;
        transition: left 0.3s;  /* Slide in/out */
        display: block;  /* Override flex */
    }

    nav ul {
        flex-direction: column;        
        padding-top: 10px;  /* Adjust as needed to align to top */
    }

    nav li {
        margin: 0;  /* Reset margin */
        height: 40px;  /* Set height */
        display: flex;
        align-items: center;  /* Center text vertically */
        justify-content: flex-start;  /* Align text to the left */
    }

    nav li:hover {
        background-color: grey;
    }

    nav a {
        color: #d33331;
        width: 100%;  /* Make anchor fill the list item */
        height: 100%;  /* Make anchor fill the list item */
        display: flex;
        align-items: center;  /* Center text vertically */
        padding-left: 10px;  /* Add some padding to the left */
    }

    #close-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}