@use "sass:math";


.two-up {
  display: flex;
  flex-wrap: wrap;
}

.two-up > * {
  flex: 0 0 49.18% !important;
}

.three-up {
  display: flex;
  flex-wrap: wrap;
}

.three-up > * {
  flex: 0 0 32.245% !important
}


.four-up {
  display: flex;
  flex-wrap: wrap;
  //margin: -1em;
  gap: 1em;
}

.four-up > * {
  //flex: 0 0 25%; //this ones working without important. why? 
  flex: 1; 
  //margin:0; 
}

.five-up {
  display: flex;
  flex-wrap: wrap;
}

.five-up > * {
  flex: 0 0 18.737% !important;
}

.six-up {
  display: flex;
  flex-wrap: wrap;
}

.six-up > * {
  flex: 0 0 15.35% !important;
   margin: 0;
}

.seven-up {
  display: flex;
  flex-wrap: wrap;
}

.seven-up > * {
  flex: 1 0 12.93% !important;
}


.eight-up {
  display: flex;
  flex-wrap: wrap;
}

.eight-up > * {
  flex: 0 0 11.119% !important;
}




//---------------------------------------------
// Small devices (landscape phones, 576px and up)
//---------------------------------------------
@media (min-width: 576px) {
   .zen {
     font-size: 14px; // Override the base font size for mobile 
   }

  & .z-container,
  & .header {
    max-width: 540px;
  }

  & z-container,
  & .header {
    max-width: 540px;
  }

  & .z-row.stack-mobile {
    flex-direction: column;
  }

  & .z-row.stack-tablet {
    flex-direction: column;
  }

  & .hide-mobile {
    display: none;
  }
 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .zen {
    font-size: 16px; // Override the base font size for tablet 
  }

  & .z-container,
  & .header {
    max-width: 720px;
  }

  & z-container,
  & .header {
    max-width: 720px;
  }

  & .z-row, z-row {
    flex-direction: row !important;
  }

  & .z-row.stack-mobile {
    flex-direction: row;
  }

  & .z-row.stack-tablet {
    flex-direction: column;
  }

  & .hide-tablet {
    display: none;
  }

  & .reverse-tablet {
    flex-direction: column;
  }

  & .z-col, z-col {
    flex-basis: calc(33%) !important;
    //margin: 10px !important;
  }

    .z-row .z-col .z-col, z-row z-col z-col {
    flex-direction: column;
}

// .one-up-tablet{
//   display: grid;
//   grid-template-columns: repeat(1, 1fr);
// }

// .two-up-tablet{
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
// }

// .three-up-tablet{
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
// }

// .four-up-tablet{
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
// }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .zen {
    font-size: 18px;  // Override the base font size for desktops
  }

  & .z-container,
  & .header {
    max-width: 960px;
  }

  & z-container,
  & .header {
    max-width: 960px;
  }

  & .z-row.stack-tablet,
  & .z-row.stack-mobile {
    flex-direction: row;
  }

  & .z-col, z-col {
    flex-basis: calc(25% - 20px) !important;
    //margin: 10px !important;
  }

  ////-------------------
  /// Grid positioning
  /// -------------------
  
  ///  Unse mobile ones
//   .one-up-tablet,  .two-up-tablet,  .three-up-tablet,  .four-up-tablet{
//   grid-template-columns:unset;
// }

  



}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .zen {
    font-size: 18px;  // Override the base font size for large desktop
  }
  & .z-container,
  & .header {
    max-width: 1140px;
  }

  & z-container,
  & .header {
    max-width: 1140px;
  }

  & .z-row.stack-tablet {
    flex-direction: row;
  }

  & .z-row.stack-mobile {
    flex-direction: row !important;
  }
  .z-row .z-col .z-col, z-row z-col z-col {
    flex-direction: column;
}

}

/* XX-Large devices (larger desktops, 1400px and up) */
// @media (min-width: 1400px) { }


//---------------------------------------------
// Experimental
//---------------------------------------------

// Need to expand on this class. why is it here also.
.reverse-on-tablet {
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap onto the next line */
}


@media (max-width: 768px) {

  .card{
    font-size: 1em;
  }

  .reverse-tablet> :nth-z-col(1) {
    order: 2;
  }

  .reverse-tablet> :nth-z-col(2) {
    order: 1;
  }

  //Grid - convert all rows to columns for sm. tablet/mobile. 
  //TODO: consider converting to flex for consistency. 
  
  .one-up, .two-up, .three-up, .four-up, .five-up, .six-up, .seven-up, .eight-up{
    grid-template-columns: repeat(1, 1fr);
  }

}

//everything goes to 1 column, lets fix some left/right alignment
@media (max-width: 767px) {
  .z-col, z-col, blockquote{
    margin-left:0;
    margin-right:0;
  }

  blockquote{
    padding:15px;
    padding-right: 30px;
    font-size:.8rem;
    padding-bottom:0;

  }


 blockquote::before {
top:0;
left:10px;

}

// // TO DOCUMENT
.card, .card-split{
    margin-left: 1em;
    margin-right: 1em;
}

.mobile-square{
  border-radius: 0;
}

}

@media (max-width: 1199px) {
  .eight-up > * {
    flex: 0 0 23.751% !important;
  }

  .five-up > * {
    flex: 0 0 32.223% !important;
  }
//every 4th/5th kid make them half
  .five-up > :nth-child(4n+4), .five-up > :nth-child(4n+5) {
    flex: 0 0 49.168% !important;
}

.six-up > * {
  flex: 0 0 32.223% !important;
}
  
}

@media (max-width: 992px) {


  .reverse-tablet> :nth-z-col(1) {
    order: 2;
  }

  .reverse-tablet> :nth-z-col(2) {
    order: 1;
  }

  .eight-up > * {
    flex: 0 0 23.335% !important;
  }

  .five-up > * {
    flex: 0 0 31.853% !important;
  }

  //every 4th/5th kid make them half
  .five-up > :nth-child(4n+4), .five-up > :nth-child(4n+5) {
    flex: 0 0 48.891% !important;
}

.six-up > * {
  flex: 0 0 31.853% !important;
}

}





//itersting idea - not quite working yet

// .layout {
//   display: flex;
//   flex-wrap: wrap;
// }

// .layout > * {
//   &:nth-child(-n+3) {
//     flex: 0 0 33.3333%;
//   }
//   &:nth-child(4) {
//     flex: 0 0 100%;
//   }
//   &:nth-child(5),
//   &:nth-child(6) {
//     flex: 0 0 50%;
//   }
// }




