@mixin default-state {
    //color: $text-black;
    background-color: $dual-mode-bg-color;
}

@mixin hover-state {
    &:hover {
        background-color: $cta-color;
        color: $light-color;
    }
}