//---------------------------------------------
// navbar styling
//---------------------------------------------

nav ul {
    display: flex;
    margin: 0;
    padding: 0 20px 0 20px;
    list-style: none;
   // flex-wrap: wrap; 4 options, no hamburger
    gap: 1em;
    align-items: center;
}

