// *,
// *::before,
// *::after {
  
// }

:link {
  color: #3e79d0;
  //text-decoration: underline;

}

// svg {
//     image-rendering: crisp-edges;
// }

//:visited { color: #551A8B; }

// Reset HTML margin and padding
html {
  margin: 0;
  padding: 0;
}

// Test dark mode
.accent-color {
  background: $accent-color;
}

// Header styles
.header {
  width: 100%;
  margin: 0 auto;
  padding: .618rem; 
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  min-height: 89px;
}

.bg-dark {
  background: $dark-color;
  color: $light-color;

  button {
    color: $dark-color;
    background: $light-color;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;


    &:hover {
      background: darken($light-color, 15%);
      transform: scale(1.05); 

    }
  }
}

// Hero section styles
.hero {
  background-image: $hero-image;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $light-color;
  min-height: 510px;
  margin-top: 0 !important;
}



// Heading styles
h1,
.h1 {
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.5em;
}

h2,
.h2 {
  font-size: 1.8em;
  font-weight: 300;
  //margin: 0;
  line-height: 1.5em;
}

h3,
.h3 {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.45em;
}

h4,
.h4 {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4em;
}

h5,
.h5 {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.35em;
}

h6,
.h6 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.25em;
}

h1, h2, h3, h4, h5, h6{
margin-top:.3em;
margin-bottom:.3em;
position: relative;
z-index: 2;
}

p {
  //font-size: .9em;
  line-height: 2em;
  letter-spacing: .02em;
  margin-top:.3em;
  margin-bottom:.3em;
  position: relative;
  font-weight: 300;

}

span {
  align-self: flex-start;
  display: inline-block;
}

ul {
   list-style-type: disc;
  padding-left: 30px;
 }

li {
  margin-bottom: 20px;
}

ul li > ul  {
  list-style-type:circle;
}

ul li > ul > li {
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

hr.top {
  margin-bottom: 2em;
  margin-top: .65em;
}


button {
  text-wrap: pretty;
  padding: 11px;
  margin:.2em;
  display: inline-block;
  text-align: center;
  border: none;
  transition: all 0.25s ease;
  cursor: pointer;
  border-radius: $border-radius;
  font-size: .8em;
  color: $light-color;
  background: $cta-color;
  z-index: 1000;
}

 button:hover {
  cursor: pointer;
   background-color: lighten($dark-color, 15%);
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
 }

button.bg-cta:hover {
  background: darken($cta-color, 8%);
}

z-container,
z-row,
z-col,
.z-row,
.z-col {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: $border-radius;
}




header :link {
  text-decoration: none;
  color: $light-color;
}

header :link:hover {
  text-decoration: underline;
  color: darken($light-color, 20%);
}




// Links with swap-underline class styles
a.swap-underline {
  color: $cta-color;
  text-decoration: none;
}

a.swap-underline:hover {
  text-decoration: underline;
}

pre {
  padding: 20px;
  font-size:.8em;
  background: #eee;
  border-radius: $border-radius;
  box-sizing: border-box;
  width: 100%;
  white-space: pre-wrap;
  line-height: 30px;
  font-family: Consolas,Monaco,'Andale Mono',monospace;

}

.not-important{
  color:#aaa !important;
}

input,
textarea,
button[type="submit"] {
  font-family: $font-family;  
  width: 100%;  
  min-height: 35px;
  border: 0;
  padding: 5px;
}

input[type="submit"]{
  padding-left:10px;
  padding-right:10px;
}



.tout{
  width:auto;
}

//----------------------------------------------
//Experimental
//----------------------------------------------

//----------------------------------------------
//utility - move this to utility.scss
//----------------------------------------------


// Border thickness classes
.thick {
  border-width: 2px;
}

.thicker {
  border-width: 3px;
}

.thickest {
  border-width: 4px;
  outline-width: 4px;
}

// Rounded and circle shape classes
.round {
  border-radius: 8px;
}

.square {
  border-radius: 0 !important;
}

.circle {
  border-radius: 100%;
  width: 56px !important;
  height: 56px;
}

.circle-icon {
  border-radius: 100%;
  width: 56px !important;
  height: 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.circle-border {
  border-radius: 100%;
}

// Pill shape class

.pill-1 {
  border-radius: 8px;
}

.border-0{
  border:none !important;
}

.site-section{
  padding-top:$site-section-padding-top;
  padding-bottom:$site-section-padding-bottom;
}

//webkit etc stuff
a:-webkit-any-link {
  text-decoration: underline;


}

a:-webkit-any-link :none{
  text-decoration: underline;
}


// Normal link styles. replace w :link? deal w specificity
a {
  color: #1f77d5;
  cursor: pointer;
  text-decoration: underline;
}


a:hover {
 color: #1f4e81;
}

//-----------------------------
// bg image (old)
//-----------------------------
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  display: none;
}




//testimonials

.image-text-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .7em;
  gap: 0.2em;
  box-shadow: 0 4px 8px rgba(124, 124, 124, 0.1);

  .left-group {
    margin-right: 20px;
    width: 28%;
    align-self: center;
  }

}


.text-group {
  gap:.3em;
  display: flex;
  flex-direction: column; 
  flex:4;

  .signature{
font-size: .7em;
font-style: italic;
margin-top:5px;
  }
}