// $primary-color-dark: #040314;
// $secondary-color-dark: #111;
// $accent-color-dark: #863f0d;
// $cta-color-dark: rgb(53, 12, 12);
// $hero-image-dark: url("../website/images/hero-dark.jpg");

$primary-color-dark: #007cc7;
$secondary-color-dark: #12232e;
$accent-color-dark: #203647;
$cta-color-dark: #4da8da;
/* Dark and Light */
$light-color-dark:  #f4f4f4;
$dark-color-dark: #202020;
$hero-image-dark: url("../website/images/hero-dark.jpg");


.zen.dark-mode {
 
/* ------------------------------------------ */
/* Swap body color and font color
/* ------------------------------------------ */
color: $light-color;
 background-color: $dark-color;

/* ------------------------------------------ */
/* Switch site color theme to dark
/* ------------------------------------------ */


    .bg-primary{
        background:$primary-color-dark;
    }

    .bg-secondary{
        background:$secondary-color-dark;
    }

    .bg-cta{
        background:$cta-color-dark;
    }
    
    .promo-banner {
        background: $accent-color-dark;
    }

    .hero {
        background-image: $hero-image-dark;
        //color:$light-color;
    }








.accent-color{ //wrong format, should be deleted
    background: $accent-color-dark;
}

  /* Your dark mode styles go here */
   
 
}












/* dont edit below here */

//styling for  toggle button
//* Standard Toggle Button */
.toggle-button {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  .toggle-button .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    z-row-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .toggle-button input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  
  .toggle-button input[type="checkbox"]:checked + .slider {
    transform: translateX(30px);
    background-color: #4CAF50; /* Toggle is ON, change color as desired */
  }
  
  .toggle-button:hover {
    background-color: #888; /* Hover state color */
  }
  
  .toggle-button:hover .slider {
    z-row-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  /* Optional: Add labels for the toggle button */
  .toggle-label {
    margin-left: 10px;
    font-size: 16px;
    vertical-align: middle;
  }
  
  /* Example for aligning text with the toggle button */
  /* .toggle-button + .toggle-label {
    display: inline-block;
    vertical-align: middle;
  } */
  