/* Variables */
$btn-color: $cta-color;
$btn-hover-color: darken($cta-color, 20%);


/* Mixin for hover styles */
@mixin btn-hover($bg-color, $border-color: $bg-color) {
  &:hover {
    background-color: $bg-color;
    border-color: $border-color;
  }
}

/* Button Styles */
.btn, .btn-ghost, .btn-invert {
  @include btn-hover($btn-hover-color);
}

.inactive {
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

//css stuff
.btn {
  background-color: $btn-color;
}

button.btn-ghost-light {
  color: $light-color;
  border: 2px solid $light-color;
  padding: 0.65em;
  background:none;
}

button.btn-ghost-light:hover {

  color: darken($btn-color, 10%);
  border: 2px solid darken($btn-color, 10%);
  background:darken($light-color, 4%);
}

button.btn-ghost-dark {
  color: $dark-color;
  border: 2px solid $dark-color;
  padding: 0.65em;
  background:none;
}

button.btn-ghost-dark:hover {

  color: lighten($light-color, 10%);
  border: 2px solid darken($dark-color, 10%);
  background:darken($dark-color, 4%);
  opacity: .5;
}


button.btn-ghost {
  color: $btn-color;
  border: 2px solid $btn-color;
  padding: 0.65em;
  background:none;
}

button.btn-ghost:hover {

  color: darken($btn-color, 10%);
  border: 2px solid darken($btn-color, 10%);
  background:darken($light-color, 4%);
}

.btn-invert {
  background-color: $btn-color;
}

//Touts
.tout{
  border-radius: 8px;
  padding: 0.3em 1em;
  //margin: 2px;
  overflow: hidden; 
  display: inline-block; 
  line-height: 10px;
  background:$accent-color;
  position: relative;
  font-size: .6rem;
  margin-top:3px;
  margin-left: .5rem;
  margin-right: .5rem;


}

.corner-top {
  position: absolute;
  rotate: -45deg;
  height: 35px;
  width: 70px;
  margin-top: -15px;
  margin-left: -27px;
  border-radius: 0;
  text-align: center;
}

.corner-top >*{
  position: relative;
  bottom: -18px;
  left: -5px;
  rotate:(45deg);
}

.corner-top::before {
  //content: "\f005"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  top: 0;
  left: 0;
  font-size: 11px;

}

.tout-wrapper{
 //background: red;
  position: absolute;
  margin-top: -18px;
  margin-left: -18px;
  width: 45px;
  height: 45px;
  border-top-left-radius: $border-radius;
  overflow: hidden;

}

//------------------------------------------------
// Button version - square
//------------------------------------------------

.btn-square{
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #668ad8;/*Button Color*/
  color: #FFF;
  border-bottom: solid 5px #36528c;/*daker than background*/
  border-right: solid 5px #5375bd;/*darker than background*/
}

.btn-square:before{    
  content: " ";
  position: absolute;
  bottom: -45px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-square:after{   
  content: " "; // wat dis do?
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.square_btn:active{ /*on click*/
  border:none;
  -ms-transform: translate(6px,6px);
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);/*move LowerRight*/
}t

.btn-square:active:after,
.btn-square:active:before {/*on click*/
  content: none;/*Border disappears*/
}



//------------------------------------------------
// Button sizes
//------------------------------------------------


.btn-xl {
  min-width: 200px;
  max-width: 200px;
  font-size: 14px;
  min-height: 45px;
}

.btn-lg {
  min-width: 150px;
  max-width: 150px;
  font-size: 14px;
  min-height: 45px;
}

.btn-md {
  min-width: 120px;
  max-width: 120px;
  font-size: 14px;
  min-height: 35px;

}

.btn-sm {
  min-width: 75px;
  max-width: 75px;
  padding: .3em;
  font-size: 12px;
}


.btn-primary{
  background: $primary-color;
  color: $text-white;
}

.btn-secondary{
  background: $secondary-color;
  color: $text-white;
}

.btn-dark{
  background: $dark-color;
  color: $text-white;
}

.btn-light{
  background: $light-color;
  color: $text-black;
}

.btn-cta{
  background: $cta-color;
  color: $text-white;
}

.btn-accent{
  background: $accent-color;
  color: $text-black;
}