//------------------------------------------ 
// Text Formatting */
//------------------------------------------ 

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 500;
}


//------------------------------------------ 
// Text Alignment 
//------------------------------------------ 

.center {
    text-align: center !important;
    align-items: unset !important;
    //align-self: center !important;
}

.center-vertical {
    margin: auto;
    width: 100%;
}

//flex centering -horizontal and vertical then do above

// .center-flex{

// }

.right {
    text-align: right !important;
    //width: 100%;
    //align-items: unset !important;

}

.left {
    text-align: left !important;
    //width: 100%;
    //align-items: unset !important;
    //align-self: left !important;

}

//------------------------------------------ 
// Text Size 
//------------------------------------------ 


.small {
    line-height: 1.4em;
    font-size: .8em !important;
    //     font-size: calc(0.8 * #{$base-font-size}); // Decrease font size by 20%

}

.smaller {
    font-size: .6em;
    //     font-size: calc(0.8 * #{$base-font-size}); // Decrease font size by 20%

}

.big {
    font-size: 1.2em;
}

.bigger {
    font-size: 1.4em;
}

.serif{
    font-family: 'Playfair Display', serif;
}

// ------------------------------------------ 
// Icons 
//------------------------------------------ 

.icon-lg{
    font-size: 23px;
}

// ------------------------------------------ 
// Special Chars
//------------------------------------------ 

.tout-circle-floated {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $green;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 20px; 
    position:absolute;
    top:19px;
    right:19px;
    padding-left:0 !important;
    padding-right:0 !important;
}

.tout-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $green;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 20px; 
    padding-left:0 !important;
    padding-right:0 !important;
}

// ------------------------------------------ 
// Text Type class
// requires JS in zencss.js
//------------------------------------------ 
// #typewriter-container p {
//     max-width: 1140px;
//     overflow: hidden;
//     white-space: pre-wrap; /* Preserve whitespace and line breaks */
//     border-right: 0.15em solid black; /* Cursor effect */
//     margin: 0; /* Remove paragraph margin */
//   }