@mixin theme($bg-color, $text-color, $button-bg-color, $button-text-color, $tout-bg-color, $tout-text-color) {
  background: $bg-color;
  color: $text-color;
  overflow: hidden;
  border-radius: $border-radius;

  button {
      background: $button-bg-color;
      color: $button-text-color;

      &:hover{
        background: darken($button-bg-color, 20%);
     
      }
  }

  
  .tout {
      background: $tout-bg-color;
      color: $tout-text-color;
  }
}

$themes: (
  primary: ($primary-color, $light-color, $cta-color, $light-color, $cta-color, $light-color),
  dark: (#4a4a4a, #f4f4f4, $light-color, $dark-color, $dark-grey, $light-color),
  light: (rgba(255, 255, 255, 0.2), $dark-color, $dark-color, $light-color, $light-grey, $dark-color),
  cta: ($cta-color, #f4f4f4, $primary-color, $light-color, $primary-color, $light-color),
  accent: ($accent-color, $dark-color, $secondary-color, $light-color, $secondary-color, $light-color),
  secondary: ($secondary-color, $light-color, $accent-color, $dark-color, $accent-color, $dark-color)
);

@each $theme, $colors in $themes {
  .theme-#{$theme} {
      @include theme(nth($colors, 1), nth($colors, 2), nth($colors, 3), nth($colors, 4), nth($colors, 5), nth($colors, 6));
  }
}

.theme-light{
  color:unset;
}

.theme-primary a{
color:white;  
}


.theme-dark.accent-left {
  border-left: 10px solid $primary-color;
}

.theme-secondary.accent-left {
  border-left: 10px solid $cta-color;
}

.theme-cta.accent-left {
  border-left: 10px solid $secondary-color;
}

.theme-light.accent-left {
  border-left: 10px solid $accent-color;
}

