///----------------------------------------------
// Component Themes - Like fortnite skins for UI elements
//----------------------------------------------

$themes: (
  primary: $light-color,
  dark: $light-color,  // Assuming you have a $dark-color variable
  secondary: $secondary-color  // Assuming you have a $secondary-color variable
);

@each $theme, $color in $themes {
  .theme-#{$theme} {
    form label {
      color: $color;
    }
  }
}

///----------------------------------------------
// Light
//----------------------------------------------

.theme-light {
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  border-radius: $border-radius;


  .z-col, z-col {
   // margin: 0; // y you in theme class?
  }


  .tout {
    background: $secondary-color;
    color: $light-color;
  }

    //button
    button{
      background:$dark-color;
      color: $light-color;

    }
  
    button:hover {
      background: darken($dark-color, 20%);
    }
  
    
}


///----------------------------------------------
// Dark
//----------------------------------------------

.theme-dark {
  background: #505050;
  color: #f4f4f4;
  overflow: hidden;
  border-radius: $border-radius;

  .z-col, z-col {
    //margin: 0;
  }

  //button
  button{
    background:$light-color;
    color:$dark-color;
  }

  button:hover {
    background: darken($light-color,10%);
  }
  

  .tout {
    background: $primary-color;
    color: $light-color;
  }
}


///----------------------------------------------
// secondary
//----------------------------------------------

.theme-secondary {
  background: $secondary-color;
  color: #f4f4f4;
  overflow: hidden;
  border-radius: $border-radius;

  .z-col, z-col {
    //margin: 0;
  }

  //button
  button{
    background:$primary-color;
    color: $light-color;

  }

  button:hover {
    background: darken($primary-color, 10%);
  }


  .tout {
    background: $cta-color;
    color: $light-color;
  }
}


///----------------------------------------------
// Accent
//----------------------------------------------

.theme-accent {
  background: $accent-color;
  color: $light-color;
  overflow: hidden;
  border-radius: $border-radius;

  .z-col, z-col {
    //margin: 0;
  }

  //button
  button{
    background:$secondary-color;
    color: $light-color;

  }

  button:hover {
    background: darken($secondary-color, 10%);
  }
  

  .tout {
    background: $grey;
    color: $dark-color;
    
  }
}


///----------------------------------------------
// CTA
//----------------------------------------------

.theme-cta {
  background: $cta-color;
  color: #f4f4f4;
  overflow: hidden;
  border-radius: $border-radius;
  

  .z-col, z-col {
    //margin: 0;
  }

  
  

  .tout {
    background: $secondary-color;
    color: $light-color;
  }

    //button
    button{
      background:$accent-color;
      color: $light-color;
    }
  
    button:hover {
      background: darken($accent-color, 10%);
    }

}

///----------------------------------------------
// Primary
//----------------------------------------------

.theme-primary   {
  background: $primary-color;
  color: $light-color;
  overflow: hidden;
  border-radius: $border-radius;
  
  // things that equal light color
  h1,h2,h3,h4,h5,h6{
    color: $light-color;

  }

//things tha equal cta color

  .accent-text {
    color:$cta-color;
  }

  .z-col, z-col {
    //margin: 0;
  }

////styling for tout component
  .tout {
    background: $accent-color;
    color: $light-color;
  }

  //button
  button.btn-primary, button{
    background:$cta-color;
    color: $light-color;
  }

  button:hover {
    background: darken($cta-color, 10%);
  }

  //form stuff take 2

  form label {
    color: $light-color;
}

  // /* New styles for form elements */
  // input, textarea, select, button {
  //   border: 1px solid $light-color;
  //   background-color: $primary-color;
  //   color: $light-color;
  //   padding: 10px;
  //   border-radius: $border-radius;
  // }

  // input:focus, textarea:focus, select:focus {
  //   border-color: $cta-color;
  // }

  // input[type="submit"], button {
  //   background-color: $cta-color;
  //   color: $light-color;
  // }

  // input[type="submit"]:hover, button:hover {
  //   background-color: darken($cta-color, 10%);
  // }


}

