

pre {
  position: relative;
  padding-right: 50px;
  text-wrap: wrap;
  text-align: left;
  position: relative;
}


code[class*=language-], pre[class*=language-] {
  font-size: .8rem !important;
}

.image-text{
  margin-top:30px;
}

.site-logo{
  margin-left: -26px;
    margin-top: 2px;
}

.copy-text button {
  border-radius: 8px;
  background-color: #ccc !important;
  height: 30px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  background-image: url("../images/ui/copy.png") !important;
  background-size: 70px auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: 0 !important;
  text-align: center !important;
  position: absolute;
  cursor: pointer !important;
  top: 45%;
  /* Move the button 50% from the top edge of the z-row */
  left: 95%;
  /* Move the button 50% from the left edge of the z-row */
  transform: translate(-50%, -50%);
  margin-top: -.1px;
  margin-left: -28px;
  opacity: .6;
}

.copy-text button:focus {
  outline: none;
}

.copy-text button:hover {
  background-color: #777777 !important;
}


@media (min-width: 1200px){
body #content {
  margin-left: 100px;
}
}

@media (min-width: 992px) and (max-width: 1199.98px){
  body #content {
    margin-left: 100px;
  }
}

@media (min-width: 769px) and (max-width: 991.98px){
body #content {
  margin-left: 100px;
}
}

@media (max-width: 78px){
  body #content {
    margin-left: 0;
  }

}



