

/* custom nav mods */
.zen nav {
  position: fixed;
  top: 63px;
  left: -230px;
  width: 230px;
  height: 100%;
  transition: left 0.3s;
  display: block !important;
}

.docs-nav{
  display:flex;
  align-items: center;
}

.logo-bar-logo{
  filter: invert(33%) sepia(6%) saturate(3%) hue-rotate(321deg) brightness(88%) contrast(80%);
}

nav{
  top: 63px;
}

.zen nav ul {
  background-color: #c3c3c3 !important;
  height: unset !important;
}
  
.zen-dark nav ul {
  background-color: #1e1e1e !important;
}
header{
  max-height: 63px;
  height: 63px;
}


.zen #close-button {
  display: block !important;
  position: absolute ;
  top: 30px;
  right: -2px;
  color:#c7c7c7 !important;
}

.zen nav ul {
  flex-direction: column;
  padding-top: 20px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.zen #hamburger-button {
  display: block;
}

.zen .accordion .expanded-content {
  background: none !important;
  border:0 !important;
  padding-top: 5px !important;
}


.zen .accordion > :nth-last-child(2), .zen .accordion :last-child {
  border-bottom: none !important;
}

.zen .accordion .title {
  border: 0 !important;

}

.zen .accordion a {
  padding-left: 28px !important;
  font-size: .8em;
  font-weight: 400;
}

pre {
  position: relative;
  padding-right: 50px;
  text-wrap: wrap;
  text-align: left;
  position: relative;
}


code[class*=language-], pre[class*=language-] {
  font-size: .8rem !important;
}

.image-text{
  margin-top:30px;
}

.site-logo{
  margin-left: -26px;
    margin-top: 2px;
}

.copy-text button {
  border-radius: 8px;
  background-color: #ccc !important;
  height: 30px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  background-image: url("../images/ui/copy.png") !important;
  background-size: 70px auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: 0 !important;
  text-align: center !important;
  position: absolute;
  cursor: pointer !important;
  top: 45%;
  left: 97%;
  transform: translate(-50%, -50%);
  margin-top: -.1px;
  margin-left: -28px;
  opacity: .6;
}

.copy-text button:focus {
  outline: none;
}

.copy-text button:hover {
  background-color: #777777 !important;
}

.zen nav a:hover {
  text-decoration: none !important;
}
zen .accordion > :nth-last-child(2), .zen .accordion :last-child {
  border-bottom: none !important;
}



.docs-content{
  margin-left:0;
  }


.smart-align-framework{
  background: #3c82cc !important;
}

.text-groups li{
  height: 140px;

}

.zen .accordion .title {
border-radius: 8px;
}

.zen nav a {
  color: #4a4a4a !important;
}

.zen-dark nav a {
  color: white !important;
}


.zen .nav-dropdown {
  padding-left: .5em;
  padding-right: .5em;
}

@media (min-width: 992px) {
  .zen nav {
    left:0;
  }


  footer  p{
    margin-left:250px;
    }

}




@media (min-width: 992px) {

   .zen nav {
    left: 0;
  } 

  .zen #close-button {
    display: none !important;
  
  }
  

}nav{
  background-color: #c3c3c3;
}

@media (max-width: 992px){
  .zen #hamburger-button, .zen #close-button {
    display: block !important;
}

}