

// Mixin for styling input fields, textarea, and select elements
@mixin input-styles {
    width: 100%;
    padding: 10px;
    border: 1px solid $light-color;
    border-radius: $border-radius;
    font-size: 16px;
    color: dark-color;
    outline: none;
}

// Mixin for styling button elements
@mixin button-styles {
    padding: 10px 20px;
    border: none;
    border-radius: $border-radius;
    background-color: $cta-color;
    color: $light-color;
    font-size: 16px;
    cursor: pointer;
    outline: none;

    &:hover {
        background: darken($cta-color, 10%);
    }
}

form {
    margin: auto;
    padding: 1em;
    padding-top:10px;
    //border: 1px solid $primary-color;

     fieldset {
        margin-bottom: 20px;
        padding: 20px;
        border: none;
    }

    p {
        margin-bottom:1em;
    }

    label {
        display: block;
        margin-top: 2px;
        color: $primary-color;
    }

    /* Style the input fields, textarea, and select elements */
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="color"],
    input[type="range"],
    textarea,
    select {
        padding-top: 12px !important;
        @include input-styles;
    }

    input[type="color"] {
        height: 200px;

    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 10px;
    }

    /* Style the button elements */
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
        margin-left:-1px;
        @include button-styles;
    }

    input[type="file"] {
        @include input-styles;
        border:none;

    }

    output {
        display: block;
        margin-bottom: 10px;
        color: $primary-color;
    }
}

form select, form input[type="date"], form input[type=datetime-local], form input[type=time ], form input[type=week], form input[type=month]{
    color:$dark-color;
}
//-------------------------------
// SHRINKING FORM LABELS
//-------------------------------

form div {
    position: relative;
    margin-bottom: 20px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    color: $dark-color;

  }
  
  .optin form label {
    position: absolute;
    left: 8px;
    top: 7px;
    font-size: .8em;
    color: $dark-color !important;
    transition: 0.3s all;
  }
  
  /* Shrink and move label on input focus or if there is content in the input field */
  form input:focus + label,
  form input:not(:placeholder-shown) + label {
    top: -1px;
    left:10px;
    font-size: 9px;
    color: #b9b9b9 !important;
  }
  

// /* Reset some default browser styles */

// form {
//     margin: auto;
//     padding: 20px;
//     border: 1px solid $primary-color;

//     div, fieldset {
//         margin-bottom: 20px;
//         padding: 20px;
//         border: none;
//     }

//     p {
//         margin-bottom: 10px;
//     }

//     label {
//         display: block;
//         margin-bottom: 5px;
//         color: $primary-color;
//     }

//     /* Style the input fields, textarea, and select elements */
//     input[type="text"],
//     input[type="password"],
//     input[type="number"],
//     input[type="email"],
//     input[type="url"],
//     input[type="tel"],
//     input[type="search"],
//     input[type="date"],
//     input[type="datetime"],
//     input[type="datetime-local"],
//     input[type="month"],
//     input[type="week"],
//     input[type="time"],
//     input[type="color"],
//     input[type="range"],
//     textarea,
//     select {
//         width: 100%;
//         padding: 10px;
//         border: 2px solid $primary-color;
//         border-radius: $border-radius;
//         font-size: 16px;
//         color: $primary-color;
//         outline: none;
//     }

//     input[type="color"]{
//         height:200px;
//     }
//     input[type="radio"],
//     input[type="checkbox"] {
//         margin-right: 10px;
//     }

//     /* Style the button elements */
//     input[type="submit"],
//     input[type="reset"],
//     input[type="button"],
//     button {
//         padding: 10px 20px;
//         border: none;
//         border-radius: $border-radius;
//         background-color: $cta-color;
//         color: $light-color;
//         font-size: 16px;
//         cursor: pointer;
//         outline: none;

//         &:hover {
//             background: darken($cta-color, 10%);
//         }
//     }

//     input[type="file"] {
//         border: 2px solid $primary-color;
//         padding: 10px;
//         border-radius: $border-radius;
//     }

//     output {
//         display: block;
//         margin-bottom: 10px;
//         color: $primary-color;
//     }
// }


