/* For the fuse class */
/* fuse is unneeded now. if you jst use z-container-fluid with a bg and put a z-container div inside it. literally makes fuse obsolete. 
*/
.fuse {
    margin-right: 0 !important;
}

/* Target the sibling immediately after the element with the fuse class */
.fuse + * {
    margin-left: 0 !important;
}

/* Media query for max-width: 767px */
@media (max-width: 767px) {
    /* Reset the right margin and padding for the element with the fuse class */
    .fuse {
        margin-right: auto !important;
        padding-right: auto !important;
        width: 100%;
        margin-left: 0 !important;
    }

    /* Reset the left margin and padding for the sibling immediately after the element with the fuse class */
    .fuse + * {
        margin-left: auto !important;
        padding-left: auto !important;
        width: 100%;
    }

    /* Apply bottom margin and padding adjustments to the element with the fuse class */
    .fuse {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    /* Apply top margin and padding adjustments to the sibling immediately after the element with the fuse class */
    .fuse + * {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

/* For the element with the fuse-down class */
.fuse-down {
    margin-bottom: 0 !important;
}

/* If fuse-down is applied to a z-col inside .z-row, target the first z-col of the next .z-row */
.z-row .fuse-down + .z-row > .z-col:nth-z-col(1) {
    margin-top: 0 !important;
}
