/* Reset some default browser styles */

form {
    margin: auto;
    padding: 20px;
    border: 1px solid $primary-color;

    div, fieldset {
        margin-bottom: 20px;
        padding: 20px;
        border: none;
    }

    p {
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: $primary-color;
    }

    /* Style the input fields, textarea, and select elements */
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="color"],
    input[type="range"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        border: 2px solid $primary-color;
        border-radius: $border-radius;
        font-size: 16px;
        color: $primary-color;
        outline: none;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 10px;
    }

    /* Style the button elements */
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
        padding: 10px 20px;
        border: none;
        border-radius: $border-radius;
        background-color: $cta-color;
        color: $light-color;
        font-size: 16px;
        cursor: pointer;
        outline: none;

        &:hover {
            background: darken($cta-color, 10%);
        }
    }

    input[type="file"] {
        border: 2px solid $primary-color;
        padding: 10px;
        border-radius: $border-radius;
    }

    output {
        display: block;
        margin-bottom: 10px;
        color: $primary-color;
    }
}


