$button-size: 25px;
$button-background-size: contain;
$button-filter: invert(50%) sepia(8%) saturate(15%) hue-rotate(314deg) brightness(103%) contrast(84%);
$transition-speed: 0.5s;

#z-slider-container {
  position: relative;
  width: 100%; 
  margin: 0 auto; /* Centers the container */

  #z-slider {
    overflow: hidden;
    position: relative;
    width: 100%;

    figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      transition: left $transition-speed ease-in-out; 

      img {
        width: 20%;
        float: left;
      }
    }
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 40px;
    background-size: $button-background-size;
    filter: $button-filter;

    &#prev { 
      left: 0;
      background: url('../img/general-icons/caret-left-solid.svg') no-repeat center center;
      width: $button-size;  /* Adjust width and height to fit your image dimensions */
      height: $button-size;
    }

    &#next { 
      right: 0;
      background: url('../img/general-icons/caret-right-solid.svg') no-repeat center center;
      width: $button-size; 
      height: $button-size;
    }
  }
}
