//todo: clean up, add theme support
$form-bg: #F9F9F9;
$input-bg: #FFF;
$input-border: 1px solid #CCC;
$input-border-hover: 1px solid #AAA;
$btn-bg-hover: #09C;
$placeholder-color: #888;

.form-container {
  max-width: 400px;
  width: 100%;
  margin: 1em auto;
  padding: .4em;

  h3{
	margin-bottom: 0;
  }

}

#contact {
  background: $secondary-color;
  padding: 25px;
  gap: 1em;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;


  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea,
  button[type="submit"] {
    width: 100%;
    border:0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: $border-radius;

    

  }

  textarea {
    height: 100px;
    resize: none;
  }

  button[type="submit"] {
    cursor: pointer;
  }
}

// Placeholder styles
::placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder {
  color: $placeholder-color;
}

