// nav {
//     margin: 0;
//     padding: 0;
// }

.promo-banner {
    text-align: center;
    margin: 0;
    list-style: none;
    color: $dark-color;
    background: $light-color;
    padding: .8em;
    font-size: .8em;
}

